
.card {
  /* max-width: 50px;
  max-height: flex; */
  margin: 20px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container {
  width: 80%;
  height: 700px;
  margin: 50px auto;
  
}

.drawer {
  padding: 10px;
  margin: 10px 5px;
  max-width: 300px;
  background-color: purple;
}

.title-center {
  text-align: center;
}

.main {
  flex: 1 1 auto;
}

.job-title {
  font-weight: bold;
}

.date {
  float: right;
  font-style: italic;
  margin: 5px;
}

.professional-experience {
  border: none;
}

.font {
  font-size: 12px;
}

.background-color {
  background-color: rgb(211, 210, 210);
  max-height: 100%;
}