<html>
  <body class="background-color">
    <mat-drawer-container class="container mat-elevation-z1 ">
      <mat-drawer mode="side" opened class="drawer">
        <!-- Mat Card For Contact Information and Picture -->
        <mat-card class="card">  
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title position="start">Courtney Revada-Luz</mat-card-title>
            <mat-card-subtitle>Software Engineer Intern</mat-card-subtitle>
          </mat-card-header>
          <hr>
          <mat-card-content>
            <p class="font">
              <strong>
                Phone:
              </strong> 
                (916)616-3134
            </p>
            <p class="font">
              <strong>
                Email: 
              </strong>
                revadacourtney@gmail.com
            </p>
              <p class="font">
                <strong>
                  Github:
                </strong>
                  https://github.com/
              </p>
              <p class="font">
              <strong>
                Address:
              </strong>
                143 Westway Apt# 203 Greenbelt, Maryland 20770
            </p>
          </mat-card-content>   
        </mat-card>
        <!-- Mat Card for Technical Skills-->
        <mat-card class="card">
          <mat-card-content *ngFor="let skill of technicalSkills">
            <h2 class="h2">{{ skill.technicalSkill }}</h2>
            <section class="section">
              <mat-progress-bar
                mode="determinate"
                value="{{ skill.experienceValue }}">>
              </mat-progress-bar>
            </section>
          </mat-card-content>
        </mat-card>
      </mat-drawer> 
      <!-- Summary card for resume portion -->
      <mat-drawer-content class="main">
        <mat-card>
          <div>
            <h1 class="title-center">Summary</h1>
            <hr>
          </div>
          <mat-card-content>
            <p>Dummy Data</p>
          </mat-card-content>
        </mat-card>

      <!-- Cards displaying Past work Experience -->
      <mat-card class="professional-experience mat-elevation-z0">
        <mat-card-title>
          Professional Experience
        </mat-card-title>
        <mat-card-content *ngFor="let experience of professionalExperiences">
          <h2>{{experience.professionalExperience}}</h2>
          <span class="job-title">{{experience.jobTitle}}</span>
          <span class="date">{{experience.endDate}}</span>
          <span class="date">{{experience.startDate}}</span>
          <ul *ngFor="let item of experience.responsibilities">
            <li>
              {{item}}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
      </mat-drawer-content>
    </mat-drawer-container>
  </body>
</html>